@use "../../../../styles/abstracts" as *;

.login-container {
    @include flex-center;
    background-image: url('/assets/login-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    max-width: 400px;
    border-radius: $radius-lg;
}

.login-header {
    @include flex-column;
}

.footer-text {
    color: $text-secondary;
    font-size: $font-size-sm;
}

.footer-link {
    color: $text-primary;

    &:hover {
        text-decoration: underline;
    }
}