@use "../../../../styles/abstracts" as *;

$login-bg: url("/assets/login-bg.png");

.login-container {
  @include flex-center;
  background-image: $login-bg;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  max-width: 400px;
  border-radius: $radius-lg;
}

.footer-text {
  color: $text-secondary;
  font-size: $font-size-sm;
}

.footer-link {
  color: $text-primary;

  &:hover {
    text-decoration: underline;
  }
}
