/* Main SCSS entry point */

// 1. Abstracts (Variables, Mixins, etc.)
@use 'styles/abstracts' as *;

// 2. Base styles (Reset, Typography, etc.)
@use 'styles/base';

// 3. Layout
@use 'styles/layout';

// 4. Components
@use 'styles/components';

// 5. Pages
@use 'styles/pages';

// 6. Theme
@use 'styles/theme';

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
}

/* Material Dialog Customization */
.right-side-dialog {
    .mat-mdc-dialog-container {
        transform: translateX(0);
        transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    }
}

.cdk-overlay-pane-appearing .right-side-dialog .mat-mdc-dialog-container {
    transform: translateX(0);
}

.cdk-overlay-pane-hidden .right-side-dialog .mat-mdc-dialog-container {
    transform: translateX(100%);
}