:host {
    display: block;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 2px 4px #E5E5E5;
}

.action-bar-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}