.employee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.employee-toolbar {
    display: flex;
    padding: 12px;
    justify-content: space-between;

    .employee-title {
        display: flex;
        align-items: center;

        span {
            display: block;
            font-size: 20px;
            font-weight: 500;
        }
    }
}