.employee-toolbar {
    display: flex;
    justify-content: space-between;
}

.employee-title {
    display: flex;
    align-items: center;

    span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #7E8D9A;
    }
}

.employee-container {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    overflow: auto;
    height: calc(100vh - 150px);
    grid-auto-rows: min-content;

    .employee-card {
        height: 140px;
        cursor: pointer;
    }
}