@use "abstracts/colors" as *;

$employee-card-height: 140px;

.employee-title {
    color: $text-secondary;
}

.employee-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: calc(100vh - 150px);
    grid-auto-rows: min-content;

    .employee-card {
        height: $employee-card-height;
    }
}