<div class="profile-card-container shadow-sm relative">
    <div class="profile-img-container">
        <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="Profile Image">
    </div>
    <section class="profile-info flex flex-col gap-2">
        <h3>Siby Mathew</h3>
        <span>E00001</span>
        <div class="flex flex-col gap-2">
            <span>Software Engineer</span>
            <div class="employee-default flex items-center gap-2 text-sm">
                <mat-icon fontSet="material-icons-outlined">home</mat-icon>
                <span class="label">Commercial</span>
            </div>
            <div class="employee-default flex items-center gap-2 text-sm">
                <mat-icon fontSet="material-icons-outlined">person</mat-icon>
                <span class="label">Engineering</span>
            </div>
            <div class="employee-default flex items-center gap-2 text-sm">
                <mat-icon fontSet="material-icons-outlined">location_on</mat-icon>
                <span>San Francisco, United States</span>
            </div>
        </div>
    </section>
</div>