@use "abstracts" as *;

$icon-width: 16px;
$icon-height: 16px;
$icon-border: 2px;

.profile-card-container {
    background-color: $bg-primary;
}

.profile-img-container {
    height: 90px;
    background-color: $secondary-500;

    img {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 30%;
        height: 30%;
        border-radius: 50%;
    }
}

.profile-info {
    padding: 60px 20px 20px 20px;

    h3 {
        margin: 0;
        font-size: $font-size-lg;
        font-weight: $font-weight-medium;
        color: $neutral-500
    }
}

.employee-default {

    .label {
        color: $primary-300;
    }

    mat-icon {
        border-radius: 50%;
        width: $icon-width;
        height: $icon-height;
        border: $icon-border solid $neutral-400;
        font-size: $font-size-sm;
        @include flex-center;
    }
}