<mat-card>
    <mat-card-header>
        <mat-card-title>Work Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="job-view-content">
        <time-tracker-readonly-field label="Employee ID" value="123456"></time-tracker-readonly-field>
        <time-tracker-readonly-field label="Job Title" value="Software Engineer"></time-tracker-readonly-field>
        <time-tracker-readonly-field label="Job Title" value="Software Engineer"></time-tracker-readonly-field>
        <time-tracker-readonly-field label="Job Title" value="Software Engineer"></time-tracker-readonly-field>
        <time-tracker-readonly-field label="Job Title" value="Software Engineer"></time-tracker-readonly-field>
    </mat-card-content>
</mat-card>