<mat-card>
    <mat-card-header>
        <mat-card-title>Work Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="job-view-content">
        <div class="job-view-info">
            <label>Employee ID</label>
            <div class="value">123456</div>
        </div>
        <div class="job-view-info">
            <label>Job Title</label>
            <div class="value">Software Engineer</div>
        </div>
        <div class="job-view-info">
            <label>Job Title</label>
            <div class="value">Software Engineer</div>
        </div>
        <div class="job-view-info">
            <label>Job Title</label>
            <div class="value">Software Engineer</div>
        </div>
        <div class="job-view-info">
            <label>Job Title</label>
            <div class="value">Software Engineer</div>
        </div>
    </mat-card-content>
</mat-card>