.project-form {
    display: flex;
    flex-direction: column;
    padding-top: 16px;

    mat-form-field {
        width: 100%;
        margin-bottom: 8px;
    }

    .row {
        display: flex;
        gap: 16px;

        mat-form-field {
            flex: 1;
        }
    }
}