<div class="nav-top w-full">
    <!-- <img src="" alt=""> -->
</div>
<mat-nav-list class="flex flex-col">
    @for (item of navItems; track item.label) {
    <div class="nav-list-item w-full flex items-center">
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link"
            [matTooltip]="collapsed() ? item.label : ''" [matTooltipPosition]="'right'">
            <mat-icon fontSet="material-icons-outlined" matListItemIcon>{{item.icon}}</mat-icon>
            <!-- <span>{{item.label}}</span> -->
        </a>
    </div>
    }
</mat-nav-list>