:host {
    display: block;
}

.nav-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.nav-list-item {
    display: flex;
    align-items: center;


    a {
        --mat-list-list-item-leading-icon-end-space: 15px;

        span {
            color: #989898;
        }
    }

    padding: 0 6px;
}

.active-link {
    background-color: rgb(239, 239, 253);
    border-radius: 50px;

    span {
        color: rgb(82, 87, 199) !important;
    }

    mat-icon {
        color: rgb(82, 87, 199);
    }
}