:host {
    display: block;
}

.nav-list-container {
    display: flex;
    flex-direction: column;
}

.nav-top {
    width: 100%;
    height: 54px;
    background-color: #284155;
}

.nav-list-item {
    display: flex;
    align-items: center;


    a {
        --mat-list-list-item-leading-icon-end-space: 15px;

        span {
            color: #989898;
        }

        mat-icon {
            color: rgb(237, 237, 239);
        }
    }

    padding: 0 6px;
}

.active-link {
    background-color: #4D6071;
}