.active-link {
    background-color: rgba(0, 0, 0, 0.05);
    color: #3f51b5; // Primary color

    mat-icon {
        color: #3f51b5;
    }
}

:host-context(.collapsed) {
    a[mat-list-item] {
        display: flex;
        justify-content: center;
        padding: 0;

        ::ng-deep .mat-mdc-list-item-icon {
            margin: 15px;
        }
    }
}