@use "abstracts/colors" as *;

$filler-height: 54px;
$icon-space: 15px;

:host {
    display: block;
}

.nav-top {
    height: $filler-height;
    background-color: $secondary-500;
}

.nav-list-item {
    a {
        --mat-list-list-item-leading-icon-end-space: $icon-space;

        span {
            color: $secondary-200;
        }

        mat-icon {
            color: $secondary-50;
        }
    }

    padding: 0 6px;
}

.active-link {
    background-color: $secondary-300;
}