.nav-list-container {
    display: flex;
    flex-direction: column;
}

.nav-list-item {
    display: flex;
    align-items: center;

    a {
        text-align: center;

        mat-icon {
            color: white;
        }
    }

    padding: 0 6px;
}

.active-link {
    background-color: #FF5969;

    mat-icon {
        color: white;
    }
}