// Text Colors
$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-muted: #777777;

// Brand Colors
$color-primary: #3f51b5; // Indigo

// Backgrounds
$color-bg-gradient-start: #f5f7fa;
$color-bg-gradient-end: #c3cfe2;



$primary-color-100: #000000;
$primary-color-200: #1E1E1E;
$primary-color-300: #333333;
$primary-color-400: #666666;
$primary-color-500: #999999;
$primary-color-600: #CCCCCC;
$primary-color-700: #E5E5E5;
$primary-color-800: #F5F5F5;
$primary-color-900: #FFFFFF;

$secondary-color-100: #445f90;
$secondary-color-200: #667aa6;
$secondary-color-300: #8096c2;
$secondary-color-400: #99b0d8;
$secondary-color-500: #b3cbee;
$secondary-color-600: #cccfe4;
$secondary-color-700: #e5e5e5;
$secondary-color-800: #f5f5f5;
$secondary-color-900: #ffffff;