<mat-card class="employee-card">
    <div class="profile">
        <img [src]="employee()?.photo || 'assets/images/default-user.png'" [alt]="employee()?.name"
            class="profile-img" />

        <div class="info">
            <h3>{{ employee()?.name }}</h3>
            <span class="position">{{ employee()?.position }}</span>
            <span class="dept">{{ employee()?.department }}</span>
            <a [href]="'mailto:' + employee()?.email" class="email">
                {{ employee()?.email }}
            </a>
        </div>
    </div>
</mat-card>