@use "../../../styles/abstracts" as var;

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: 70px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #284155;
}

.sidenav-content {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #EEF1F6;
}