@use "abstracts" as *;

$sidebar-width: 70px;
$topbar-height: 64px;

.sidenav {
    width: $sidebar-width;
    border-right: $border-medium;
    background-color: $bg-sidebar;
}

.content-wrapper {
    height: calc(100vh - $topbar-height);
    background-color: $bg-tertiary;
}