.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: 250px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    transition: width 0.3s ease-in-out;

    &.collapsed {
        width: 80px; // Enough for icons
    }
}

.content-wrapper {
    padding: 24px;
}