@use "../../../styles/variables" as var;

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: var.$nav-item-width;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #343F4F;
}