<div class="layout-container">
    <time-tracker-header (toggleSidebar)="onToggleSidebar()"></time-tracker-header>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" opened class="sidenav" [class.collapsed]="isCollapsed()">
            <time-tracker-sidebar [collapsed]="isCollapsed()"></time-tracker-sidebar>
        </mat-sidenav>

        <mat-sidenav-content [style.margin-left]="isCollapsed() ? '80px' : '250px'">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>