@use "../../../styles/variables" as var;

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidenav-container {
    flex: 1;
}

.sidenav {
    width: 220px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.sidenav-content {
    width: 100%;
    height: 100%;
}

.content-wrapper {
    padding: 2rem;
}