<mat-toolbar class="header-toolbar">
    <span class="app-title">Fast Hiring</span>
    <!-- <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
    </mat-form-field> -->
    <span class="spacer"></span>
    <button mat-icon-button aria-label="User profile">
        <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="User profile">
        <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
    </button>
</mat-toolbar>