@use "../../../styles/variables" as var;

.header-toolbar {
    display: flex;
    direction: row;
    padding: 0 16px 0 0;
    align-items: center;
    box-shadow: 0 2px 4px rgba(237, 227, 227, 0.1);
    z-index: 2; // Ensure above sidenav content if needed
}

.app-icon {
    width: var.$nav-item-width;
    height: 100%;
    background-color: #343F4F;
}

.spacer {
    flex: 1 1 auto;
}

.header-title {
    margin-left: 8px;
    font-weight: 500;
}