@use 'abstracts' as *;

.profile-title {
    color: $text-secondary;
}

.profile-content {

    .profile-info {
        width: 20%;
    }

    @include respond-to('md') {
        flex-direction: column;
        gap: 12px;

        .profile-info {
            width: 100%;
        }

        .profile-details {
            width: 100%;
        }
    }
}