.user-form {
    margin-top: 3px;

    mat-form-field {
        width: 100%;
    }
}

h2 {
    --mdc-dialog-subhead-size: 16px;
    --mdc-dialog-subhead-weight: 500;
    --mdc-dialog-subhead-color: #7E8D9A;
}

.associate-roles-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.required {
    color: red;
}

.send-invite-label {
    font-size: 12px;
    font-weight: 400;
    color: #268feb;
    cursor: pointer;
}

.employee-default {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;

    mat-icon {
        color: rgb(226, 145, 145);
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 3px solid rgb(226, 145, 145);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}

.associate-roles {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    mat-icon {
        color: #268feb;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 3px solid #268feb;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

    span {
        font-size: 14px;
        font-weight: 400;
        color: #268feb;
        cursor: pointer;
    }
}